<div class="ticket-container">

  <img src="/recursos/expreso.jpg" class="background-img">

  <div class="form-card">
    <h2>🎟️ Reserva tu viaje</h2>
<div class="price-info">
  <h3>💰 Tarifas del Expreso</h3>

  <p><strong>Adulto:</strong> $ 5.000</p>
  <p><strong>Niño:</strong> $ 3.000</p>
  <p><strong>Primera clase:</strong> +30%</p>
</div>

    <form [formGroup]="ticketForm">

      <label>Nombre</label>
      <input type="text" formControlName="passengerName">

      <label>Adultos</label>
      <input type="number" min="0" formControlName="adultTickets">

      <label>Niños</label>
      <input type="number" min="0" formControlName="childTickets">

      <label>Tipo de asiento</label>
      <select formControlName="seatType">
        <option value="standard">Estándar</option>
        <option value="first">Primera clase</option>
      </select>

      <button type="button" (click)="calculateTotal()" class="btn-calcular">
        Calcular
      </button>

    </form>

    <div class="resultado" *ngIf="totalTickets > 0">
      <p>Entradas: {{ totalTickets }}</p>
      <p>Total: $ {{ totalPrice | number }}</p>
    </div>

    <button
      *ngIf="totalTickets > 0"
      (click)="displayTicket()"
      class="show-ticket-btn">
      Ver Ticket
    </button>

  </div>
</div>

<div class="ticket-overlay" *ngIf="showTicket" (click)="showTicket = false"></div>

<div class="hogwarts-ticket" *ngIf="showTicket">
  <button class="close-btn" (click)="showTicket = false">✖</button>

  <div class="ticket-header">LONDON TO HOGWARTS</div>

  <div class="ticket-body">
  <div class="col">
    <p><strong>Fecha:</strong> 12/02/2026</p>
    <p><strong>Asiento:</strong> A12</p>
  </div>

  <div class="divider"></div>

  <div class="col">
    <p><strong>Puerta:</strong> 3</p>
    <p><strong>Hora:</strong> 20:30</p>
  </div>
</div>

</div>
