<div class="welcome-container">
  <h1>{{ message1 }}</h1>

  <p *ngIf="showSecret" class="secret">{{ message2 }}</p>

  <p class="spell" (click)="showSecret = !showSecret">
    {{ showSecret ? '✨ Nox ✨' : '✨ Lumos ✨' }}
  </p>
</div>
<div class="characters-container">
  <h1>Conoce a los personajes</h1>
  <div class="characters-grid">

    <div class="character-card">
      <img src="recursos/herma-personaje.jpg" alt="Hermione Granger">
      <h3>Hermione Granger</h3>
      <p>La bruja más brillante de su edad</p>
    </div>
    <div class="character-card">
      <img src="recursos/harry-personaje.jpg" alt="Harry Potter">
      <h3>Harry Potter</h3>
      <p>El niño que vivió</p>
    </div>
    <div class="character-card">
      <img src="recursos/ron-personaje.jpg" alt="Ron Weasley">
      <h3>Ron Weasley</h3>
      <p>Leal y valiente amigo de Harry</p>
    </div>
    <div class="character-card">
  <img src="recursos/ginny-personaje.jpg" alt="Ginny Weasley">
  <h3>Ginny Weasley</h3>
  <p>Valiente y talentosa bruja de Gryffindor</p>
</div>

<div class="character-card">
  <img src="recursos/dumbledore-personaje.jpg" alt="Albus Dumbledore">
  <h3>Albus Dumbledore</h3>
  <p>Director de Hogwarts y uno de los magos más poderosos</p>
</div>

<div class="character-card">
  <img src="recursos/snape-personaje.jpg" alt="Severus Snape">
  <h3>Severus Snape</h3>
  <p>Profesor de pociones con un pasado misterioso</p>
</div>

<div class="character-card">
  <img src="recursos/luna-personaje.jpg" alt="Luna Lovegood">
  <h3>Luna Lovegood</h3>
  <p>Soñadora y leal amiga</p>
</div>
<div class="character-card">
  <img src="recursos/hagrid-personaje.jpg" alt="Rubeus Hagrid">
  <h3>Rubeus Hagrid</h3>
  <p>Amigo fiel y amante de las criaturas mágicas</p>
</div>
<div class="character-card">
  <img src="recursos/mcgonagall-personaje.jpg" alt="Minerva McGonagall">
  <h3>Minerva McGonagall</h3>
  <p>Directora de Gryffindor y gran bruja</p>
</div>

<div class="character-card">
  <img src="recursos/draco-personaje.jpg" alt="Draco Malfoy">
  <h3>Draco Malfoy</h3>
  <p>Astuto y ambicioso estudiante de Slytherin</p>
</div>

  </div>
</div>
