<section class="secrets-section">
  <h1>🔮 Secretos del Mundo Mágico</h1>

  <div class="object-card"> 
    <video [src]="secretos.video" autoplay loop [muted]="true" playsinline class="object-video"></video>
  <h2>{{ secretos.nombre.valor }}</h2>
  <p> {{ secretos.nombre.descripcion }}</p>
  
  <p><strong>Creador:</strong> {{ secretos.creador.valor }}</p>
  <p>{{ secretos.creador.historia }}</p>
  
  <p><strong>Material:</strong> {{ secretos.material.valor }}</p>
  <p>{{ secretos.material.curiosidad }}</p>
  
  <p><strong>Poder:</strong> {{ secretos.poder.valor }}</p>
  <p>{{ secretos.poder.ejemplo }}</p>


</div>